@CHARSET "UTF-8";

.left-content {
	width: 100%;
	height: 250px;
	background-color: #FFF;
}

.right-content {
	width: 100%;
	background-color: #F8F8F8;
}

.left-content .list {
	display: none;
}

.contact {
	margin-top: 0;
}

.avatar img {
	margin-top: 20px;
}

.info {
	margin-top: 0;
}

.contact a img {
	width: 25px;
	height: 25px;
}

.page-contact .header {
	padding-top: 10px;
}

.page-life .on {
	margin: 25px 4%;
	padding-top: 5px;
}

.page-resume .header {
	margin-top: 25px;
}

.page-tech .list .chr {
	height: 100px;
}

.page-tech .list .chr .img img {
	width: 130px;
	height: 100px;
}

.page-tech .list .chr .content {
	padding-top: 12px;	
	margin-left: 140px;
	margin-right: 10px;
}

.page-tech .list .chr .content .title {
    font-size: 1.1rem;
}

.page-tech .list .chr .content .sub {
	display: none;
}

.page-resume .header h3 {
    margin-top: 130px;
}